.UserDescription {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 20%;
  height: 94.3vh;
  padding: 50px 20px 0px 20px;
  caret-color: transparent;
}
.ProfilePicture {
  display: flex;
  align-items: center;
  height: 120px;
}
.ProfilePicture button {
  height: 15px;
  width: 15px;
  border: 0px;
  padding: 0px;
  border-style: none;
  position: absolute;
  left: 106px;
  top: 185px;
  border-radius: 2px;
  background: #070d19;
}
.ProfilePictureImg img {
  width: 100px;
  height: auto;
  border-radius: 50px;
}
.EditImg img {
  width: 15px;
  height: auto;
  background: #070d19;
  border: 0px;
  padding: 0px;
  border-style: none;
}
.EditImg img:hover {
  cursor: pointer;
  width: 17px;
  height: auto;
}
.UserNameHeading {
  display: flex;
  flex-direction: column;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;

  /* header text */

  color: #b1b1b1;
}
.UserRoleHeading {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  /* header text */

  color: #b1b1b1;
}
